body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;


}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

thead {
    background-color: #4caf50;
    color: #fff;
}

tbody {
    background-color: #fff;
    background-color: #70bd72;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}


label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.lista {
    container: right;
    margin-left: 100px;
    /* Ajusta el margen según tus necesidades */
}

.datos {
    container: center;
}

h1 {
    color: #4caf50;
    /* Verde */
    font-size: 50px;
    /* Tamaño del texto, ajusta según sea necesario */
    font-weight: bold;
    /* Texto en negrita */
    margin-bottom: 10px;
    /* Espaciado inferior, ajusta según tus necesidades */
    text-align: center;
}